.card {
  background-color: var(--secondary-color);
  width: auto;
}

/* .form-inline {
  display: flex;
  justify-content: space-between;
} */

input[type="text"],
input[type="email"] {
  width: 96%;
}

.btn-theme {
  width: 96%;
}

.subs-text {
  width: auto;
  max-width: 500px;
}
