<div class="card shadow-effect">
  <div class="card-body">
    <!-- mt-3 mb-5   mean margin top and margin bottom -->
    <div class="text-center mt-3 mb-5">
      <h3>SUBSCRIPTION FORM</h3>
      <p class="m-auto subs-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed illo
        eveniet libero quia omnis earum ea, facilis fuga facere veniam molestiae
        excepturi non sequi voluptas soluta qui hic voluptatum illum?
      </p>

      <form action="" class="form-inline d-flex flex-wrap mb-5 mt-5">
        <!-- for name field -->
        <div class="form-group col-md-5">
          <input
            type="text"
            class="form-control shadow-effect"
            placeholder="Your Name"
          />
        </div>

        <!-- for email field-->
        <div class="form-group col-md-5">
          <input
            type="email"
            class="form-control shadow-effect"
            placeholder="Email Address"
          />
        </div>

        <!-- subscribe button -->
        <div class="col-md-2">
          <button class="btn btn-info btn-block btn-sub">SUBSCRIBE</button>
        </div>
      </form>
    </div>
  </div>
</div>
