/* app-body kiyl dala methana style kare nattn post card eka ehema nav bar ekata wahenwa. ekai mehem ekk dala 150kin pahalata enn style kre
 */
.app-body {
  margin-top: 150px;
  min-height: 45vh;
  justify-content: center;
}
