<section class="mt-5">
  <!-- frist area eka sadaha div eka -->
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">Terms & Conditions</h1>

    <!-- second area eka sadaha div eka -->
    <div class="p-5 mt-4 bg-secondary-theme">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam nostrum
        ab deleniti ducimus dolor, sit incidunt accusantium, sunt vel
        consectetur laudantium sapiente. Mollitia commodi rem id facilis vel
        doloribus atque? Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Veritatis quae illum repellendus delectus nesciunt aperiam
        voluptate! Quibusdam distinctio veritatis tenetur illum id maiores
        laboriosam debitis libero at nesciunt, repellat beatae?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam nostrum
        ab deleniti ducimus dolor, sit incidunt accusantium, sunt vel
        consectetur laudantium sapiente. Mollitia commodi rem id facilis vel
        doloribus atque?Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Animi blanditiis sapiente commodi necessitatibus debitis voluptate,
        nulla, corrupti ducimus, a voluptatem omnis rem amet inventore unde!
        Magni id ipsum hic necessitatibus.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam nostrum
        ab deleniti ducimus dolor, sit incidunt accusantium, sunt vel
        consectetur laudantium sapiente. Mollitia commodi rem id facilis vel
        doloribus atque?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam nostrum
        ab deleniti ducimus dolor, sit incidunt accusantium, sunt vel
        consectetur laudantium sapiente. Mollitia commodi rem id facilis vel
        doloribus atque?
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 text-white btn-theme">
          Back To Home
        </button>
      </div>
    </div>
  </div>
</section>
