<!-- create featured area -->
<section class="featured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white">Featured Posts</h2>
        <p class="text-white">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis,
          suscipit possimus atque distinctio commodi, ipsa provident nisi nihil
          libero repellat fugiat consectetur dicta. Nemo porro molestiae
          exercitationem necessitatibus atque dicta.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 mb-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-3 mb-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-3 mb-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-3 mb-3">
        <app-post-card></app-post-card>
      </div>
    </div>
  </div>
</section>

<!-- create latest post area -->
<section class="container mt-5">
  <!-- latestpost area eke heading kotasa -->
  <div class="col-md-12 text-center">
    <h2>Latest Posts</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero beatae
      fugit asperiores tenetur eius, aut eveniet consequuntur excepturi.
      Nostrum, doloremque. Voluptatum, minima! Dolores iure id excepturi
      doloremque inventore dolorem nobis!
    </p>
  </div>
  <!--postcards tyena row eka  -->
  <div class="row justify-content-center">
    <div class="col-md-4 mt-3 mb-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3 mb-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3 mb-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3 mb-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3 mb-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3mb-3">
      <app-post-card></app-post-card>
    </div>
  </div>
</section>
