<div class="container">
  <div class="row">
    <!-- For rightside column -->
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/4144144/pexels-photo-4144144.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="learningimage"
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2"
            >views - 100,256</small
          >
          <small class="bg-light text-warning text-center ml-2"
            >LAST UPDATED - SEP 23, 2024</small
          >

          <h1 class="mt-3 mb-3">HOW TO START LEARNING ANGULAR IN 2024</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam illum
            vitae voluptates similique velit qui quod nobis quae praesentium non
            doloribus tenetur blanditiis delectus, quia sequi ab assumenda modi
            unde. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
            voluptate magni asperiores porro doloremque possimus laborum,
            fugiat, neque laudantium reprehenderit eveniet illo mollitia impedit
            fuga! Consectetur hic cupiditate voluptatibus ex? Lorem ipsum dolor
            sit amet consectetur, adipisicing elit. Tempore distinctio inventore
            deleniti maiores eius impedit recusandae praesentium consequatur,
            ducimus non repudiandae odio deserunt molestias vel nobis at harum
            quia veritatis! Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Voluptates natus delectus a cum soluta eveniet eaque, at,
            cupiditate quod labore dignissimos dolor accusamus quos tempore
            eligendi sequi veniam maiores animi. Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Hic, officiis repudiandae repellendus
            unde, sint magni at velit autem alias, maxime illo doloremque quo
            quis eligendi est ducimus aut libero adipisci. Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Ea dolores natus deserunt
            explicabo deleniti nostrum atque. Obcaecati a eligendi ipsam minima,
            dolores dolore, illo in porro nisi, vero recusandae ipsa? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Id quod nostrum
            deleniti, maiores eius veritatis expedita. Quaerat, laboriosam
            voluptatum, corrupti soluta obcaecati asperiores iusto hic pariatur
            labore beatae voluptatem animi? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Eveniet explicabo blanditiis
            temporibus officiis est rerum unde ipsam rem numquam, maxime nam aut
            deleniti voluptatum voluptas, itaque consectetur ullam suscipit
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, vel
            itaque ut reiciendis assumenda mollitia totam facere error? Ducimus,
            dolorem facilis quod eligendi excepturi error beatae sunt
            consequuntur quae alias!lolo Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Labore, qui vel asperiores eligendi unde cumque
            dicta excepturi incidunt atque tempora ea, eos facilis, delectus ut
            libero recusandae laudantium provident laborum!Lorem Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Vel alias, corporis
            ducimus eius magni, inventore quibusdam rerum commodi adipisci
            cupiditate fugit quaerat incidunt pariatur neque aut excepturi!
            Ducimus, sapiente ut! zwasexrdctfvygbuhnijm Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Rem voluptate ut ipsam sunt
            doloribus aspernatur suscipit distinctio nemo officiis? Nesciunt
            enim officia vitae tempora sint amet, asperiores incidunt et
            voluptatibus?
          </p>
        </div>
      </div>

      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>

    <!-- for left side column -->
    <div class="v col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
